<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="true"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="build/coverage.txt" showOnlySummary="true"/>
            <html outputDirectory="build/html"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="HIBP-PHP Unit TestSuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
